.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 64px 80px;
    background-color: #1f1f1f;
    width: 100%;
}

.about-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.about-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0;
}

.about-description {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 150%;
    width: 800px;
}

.about-data-description {
    text-align: center;
}

.about-data-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 150px;
}

.about-data-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-data-title {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 96px;
    text-align: center;
    color: #efefef;
}

.two, .three {
    color: #6c14fc;
}

.about-data-description {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
}

@media (max-width: 800px) {
    .about-section {
        gap: 0px;
    }
    
    .about-title {
        font-size: 24px;
    }

    .about-description {
        width: 350px;
        font-size: 13px;
    }

    .about-data-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .about-data-container {
        gap: 5px;
    }

    .about-data-title {
        font-size: 36px;
    }
    
    .about-data-description {
        font-size: 13px;
    }
}