.contact-section {
    display: flex;
    align-items: flex-start;
    background-color: #6c14fc;
    gap: 60px;
    overflow: hidden;
    padding: 124px;
    width: 100%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    flex-grow: 1;
    gap: 95px;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 64px;
    width: 100%;
}

.contact-heading {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
    width: 100%;
}

.contact-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 150%;
}

.contact-description {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 150%;
    width: 570px;
}

.contact-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex: 0 0 auto;
    gap: 32px;
    width: 100%;
}

.details {
    display: flex;
    align-items: flex-start;
    flex: 0 0 auto;
    gap: 16px;
}

.details svg {
    font-size: 20px;
}

.detail-description {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 150%;
}

.social-container {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #c7c7c7;
    border-radius: 50px;
    padding: 10px;
    transition: transform 0.8s, border 150ms ease-in-out;
}

.social-icons svg {
    font-size: 23px;
    color: #efefef;
}

.social-icons:hover {
    cursor: pointer;
    transform: rotate(360deg);
    border: 2px solid #ffff;
}

.text-fields-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    gap: 32px;
    justify-content: center;
    position: relative;
}

.text-fields {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
    width: 100%;
}

.text-fields input, textarea {
    border: none;
    color: #1f1f1f;
    padding: 14px 16px;
    width: 566px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 150%;
    border-radius: 3px;
    background-color: #efefef;
    outline: none;
}

.textarea-message {
    height: 170px;
}

.btn-message {
    display: flex;
    background-color: rgb(29, 29, 29);
    color: #efefef;
    padding: 12px 56px;
    outline: none;
    border: transparent;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 150%;
    transition: transform 150ms ease-in-out;
}

.btn-message:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-message:disabled {
    opacity: 0.5;
    cursor: default;
    transform: scale(1);
}

.contact-loader {
    width: 80px;
    height: 80px;
    position: relative;
    top: 150px;
    left: 150px;
}

.contact-loader:before {
    content: '';
    width: 80px;
    height: 5px;
    background: #efefef;
    position: absolute;
    top: 95px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .contact-loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #efefef;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
  
    0%,
      100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #272727;
    color: #efefef;
    font-weight: bold;
    letter-spacing: 0;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.popup.show {
    opacity: 1;
}

.popup svg {
    font-size: 1.3rem;
}

@media (max-width: 800px) {
    .contact-section {
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    .contact-title {
        font-size: 24px;
    }

    .contact-heading {
        justify-content: center;
        align-items: center;
    }

    .contact-description {
        text-align: center;
        font-size: 13px;
        width: 350px;
    }

    .contact-details-container {
        justify-content: center;
        align-items: center;
    }

    .social-container {
        align-self: center;
    }
    
    .text-fields-container {
        justify-content: center;
        align-self: center;
    }

    .text-fields input, textarea {
        width: 100%;
    }

    .btn-message {
        padding: 12px 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .contact-section {
        padding: 50px;
        gap: 0px;
    }

    .contact-description {
        width: 350px;
    }

    .text-fields input, textarea {
        width: 100%;
    }

    .btn-message {
        padding: 12px 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
  