.hero-section {
    display: flex;
    flex-direction: column;
    gap: 90px;
    justify-content: flex-start;
    align-items: center;
    background-color: #242424;
    padding: 40px 0px 0px;
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 124px;
    width: 100%;
}

.background {
    background-color: #6c14fc;
    border-radius: 73px;
    height: 146px;
    left: 438px;
    position: absolute;
    top: -80px;
    width: 146px;
}

.logo {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 45px;
}

.logo span {
    color: #6c14fc;
}

.links {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    gap: 32px;
    position: relative;
}

.links a {
    position: relative;
    letter-spacing: 0;
    padding: 7px;
}

.links a:hover {
    color: #6c14fc;
    cursor: pointer;
}

.links a:after, .links a:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    transition: all 0.3s ease;
}

.links a:after {
    top: -5px;
    left: -5px;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
}

.links a:before {
    right: -5px;
    bottom: -5px;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
}

.links a:hover::before,
.links a:hover::after {
  width: 10px;
  height: 10px;
  border-color: #6c14fc;
}

.btn-talk {
    display: flex;
    background-color: #6c14fc;
    color: #efefef;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    outline: none;
    border: none;
    position: relative;
    transition: transform 150ms ease-in-out;
}

.btn-talk:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-talk::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, transparent 33%, #efefef 33%, #efefef 66%, transparent 66%);
    background-size: 300% 300%;
    transition: background-position 0.8s;
}

.btn-talk:hover::before {
    background-position: 100% 100%;
}

.information-container {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    gap: 48px;
    justify-content: center;
    padding: 0px 124px;
    width: 100%;
}

.information-header {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    gap: 48px;
    padding: 100px 0px 80px;
}

.heading {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    gap: 16px;
}

.title {
    align-self: stretch;
    color: #efefef;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
}

.second-title {
    align-self: stretch;
    font-size: 45px;
    font-weight: 700;
}

.second-title span:first-of-type {
    color: #efefef;
}

.second-title span {
    color: #6c14fc;
}

.description {
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

.btn-hero-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 20px;
}

.btn-hero-container button {
    padding: 12px 56px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: transparent;
    letter-spacing: 0;
    transition: transform 150ms ease-in-out;
}

.btn-hire {
    color: #efefef;
    background-color: #6c14fc;
}

.btn-portfolio {
    color: #141414;
    background-color: #efefef;
}

.btn-hero-container button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero-image {
    width: 40vw;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.scroll-down-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    padding: 80px;
}

.arrow {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.arrow:hover {
    cursor: pointer;
}

.arrow:first-child {
    animation: move 3s ease-out 1s infinite;
}

.arrow:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.arrow:before,
.arrow:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.arrow:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.arrow:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
      opacity: 1;

    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@media (max-width: 800px) {
    .hero-section {
        gap: 0px;
        height: 100%;
    }

    .navbar {
        padding: 0px 20px;
        flex-direction: column;
        gap: 25px;
    }

    .links {
        display: none;
    }

    .btn-talk {
        padding: 12px 28px;
        font-size: 16px;
    }

    .information-container {
        padding: 0px 20px;
        flex-direction: column;
    }

    .information-header {
        padding: 50px 0px 40px;
        text-align: center;
    }

    .title {
        font-size: 18px;
    }

    .second-title {
        font-size: 32px;
    }

    .description {
        font-size: 14px;
    }

    .btn-hero-container {
        justify-content: center;
        align-items: center;
    }

    .btn-hero-container button {
        padding: 12px 28px;
        font-size: 16px;
    }

    .text-fields input, textarea {
        width: 100%;
    }

    .hero-image {
        display: none;
    }

    .scroll-down-container {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .hero-section {
        gap: 0px;
        height: 100%;
    }

    .navbar {
        padding: 0px 30px;
        justify-content: space-between;
    }

    .btn-talk {
        padding: 12px 15px;
    }

    .information-container {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px 32px;
    }

    .information-header {
        align-self: center;
        flex-basis: auto;
        width: 100%;
    }

    .btn-hero-container button {
        padding: 12px 28px;
    }

    .text-fields input, textarea {
        width: 100%;
    }

    .hero-image {
        width: 410px;
    }

    .scroll-down-container {
        display: none;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    .hero-section {
        gap: 0px;
        height: 100%;
    }

    .navbar {
        padding: 0px 30px;
        justify-content: space-between;
    }

    .links {
        gap: 5px;
    }

    .btn-talk {
        padding: 12px 15px;
    }

    .information-container {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px 32px;
    }

    .information-header {
        align-self: center;
        flex-basis: auto;
        width: 100%;
    }

    .btn-hero-container button {
        padding: 12px 28px;
    }

    .text-fields input, textarea {
        width: 100%;
    }

    .hero-image {
        width: 357px;
    }

    .scroll-down-container {
        display: none;
    }
}