@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #efefef;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #6c14fc;
    color: #efefef;
    font-size: 18px;
    font-weight: 700;
}


a {
    text-decoration: none;
    color: #efefef;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 86px;
}